@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <input id="searchField" type="text"/>

    <ul id="searchResultList" class="list-group">
        <li class="list-group-item">

        </li>
    </ul>
</div>

<script>
    const searchInputHandler = function(e) {

    }
    $('searchField').addEventListener('input', searchInputHandler);
</script>